body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding:1vw 10vw;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 7vw 10vw;
    margin: 0;
    justify-content: space-between;
    gap: 20px;

}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    /* justify-content: flex-start; */
}

p {
    margin: 0;
    padding: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    flex: 1;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    min-width: 100px;
    min-height: 30px;
    max-width: 100px;
    max-height: 30px;
    flex: 1;
    padding: 0;
    border: 0;
    border-radius: 8px;
    font-weight: bold;

}

.hero-image-placeholder {
    display: flex;
    background-color: rgb(109,116,125);
    font-size: 18px;
    color: #E5E7EB;
    min-width: 40vw;
    min-height: 27vh;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 5vw 10vw;
    align-items: center;
    /* justify-content: space-around; */

    /*  padding-bottom: 75px; */
    gap: 50px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

 

.information-content {
    display: flex;
    gap: 10px;
    /* justify-content: space-evenly; */
    
}


.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1;
    flex-wrap: wrap;
}


.box {
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 10vw;

    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 15px;
    
}


.box-subtext {
    color:rgb(72, 74, 77);
    flex: 1;
    font-size: 18px;
    text-align: center;
    min-width: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.quote-section {
    background-color: #E5E7EB;
    padding: 7.5vw 10vw;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    display: flex;
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    justify-content: flex-end;
}
